---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Terina Arona-Haua</div>
    <div class="text-3xl py-3 font-bold">Full Stack Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Greetings! I'm a tech enthusiast with a unique background in veterinary nursing and a business degree in progress. My recent completion of the DevAcademy software development course has ignited my passion for the tech industry. I'm eager to contribute to innovative projects, particularly in the gaming sector. Embracing new challenges, I'm committed to fostering diversity, collaboration, and making a positive impact through technology. Let's connect and create something amazing together!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/terina-arona-haua-193638228/" target="_blank"> Let's connect!</a>
    </div>
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects</div>
  </div>

  <HorizontalCard
    title="Pocket Doro"
    img="/Pocket.jpg"
    desc="The app features a unique combination of a pixelated room and avatar with a pomodoro timer for enhanced productivity."
    url="https://pocketdoro.pushed.nz/"
    badge="MVP"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="My Full Stack Collection"
    img="/post_img.webp"
    desc="My fullstack collection is a showcase website that demonstrates my proficiency in both back-end and front-end skills, featuring various React components."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Personal Project"
    img="/post_img.webp"
    desc="My personal project is an exciting venture that encourages creativity, as it revolves around a pixelated map and character based on myself, providing an excellent opportunity to explore game development and create enjoyable experiences. This is in the very early stages of development so keep an eye on this space!"
    badge="Early Stages of Development"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
